.shop-logo {
	width: 80px;
	border: 0px solid white;
	border-radius: 4px;
}

.content-full {
	width: 100%;
	padding: 0;
	margin: 0;
	height: 100vh;
	overflow: auto;
}

.div-center-full {
	position: fixed;
	margin: 0 auto;
	width: 100%;
	min-height: 300px;
	top: 10%;
	padding: 20px;
}

.border-rounded-md {
	border-radius: 18px;
}

.container-height-md {
	min-height: 450px;
}

.bg-gradient {
	background-color: red;
	background-image: linear-gradient(to bottom left, #114357, #F29492);
}

.navbar-collapse {
	margin-left: 34px;
}

.navbar {
	padding: 0px 100px;
}

.bg-black {
	background: black;
}

.nav-white {
	color: white !important;
}

.text-white {
	color: white !important;
}

.lbl-basket {
	display: inline !important;
	font-size: 16px;
	color: white;
}

.lnk-view-basket {
	text-decoration: none !important;
}

.space-top-sm {
	margin-top: 20px;
}

.lnk-view-basket:active, .lnk-view-basket:hover, .lnk-view-basket:focus
	{
	text-decoration: none !important;
	color: #d9f3f8 !important;
}

.lnk-my-basket:active, .lnk-my-basket:hover, .nav-white:hover,
	.nav-white:active, .lnk-right:active, .lnk-right:hover {
	color: #d9f3f8 !important;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
	color: #fff;
	background-color: #334f60 !important;
}

.bg-midnight {
	background: #334f60 !important;
}

.product-container {
	margin-top: 20px;
}

.btn-secondary {
	color: #fff;
	background-color: #d6a73 !important;
	border-color: #d6a73 !important;
}
.nav-link {
    color: #6c757d;
}
.nav-category {
	color: black;
}

.item-box {
	border: 1px solid #b5b5b5;
	height: 280px;
	border-radius: 4px;
	display: inline-block;
	margin: 10px;
	position: relative;
	padding: 0px;
}

.item-details {
	/*background: #343a40*/;
	position: absolute;
	bottom: 0px;
	height: 100px;
	width: 100%;
	border-radius: 0 0 4px 4px;
	text-align: center;
}

.pad-zero {
	padding: 0px !important
}

.img-item {
	display: block;
	padding: 4px;
	margin: 0 auto;
	max-height: 150px;
}

.price {
	font-weight: bold;
}

.marg-sm {
	margin: 4px;
}

.main-content {
	width: 100%;
	padding: 0;
	margin: 0;
	min-width: 320px;
	min-height: 100%;
	margin-top: 30px;
}

.signupform {
	margin: 0;
	padding: 2px;
	outline: none;
	box-shadow: 0 0 20px rgba(0, 0, 0, .3);
	font: 13px/1.55 'Open Sans', Helvetica, Arial, sans-serif;
	color: #666;
	border-radius: 6px;
	margin: 20px 0;
}

.signupform header {
	display: block;
	padding: 10px 20px;
	border-bottom: 1px solid rgba(0, 0, 0, .1);
	background: rgba(248, 248, 248, .9);
	font-size: 25px;
	font-weight: 300;
	color: #232323;
	border-radius: 6px 6px 0 0;
}

.signupform fieldset {
	display: block;
	padding: 10px 4px;
	border: none;
	background: rgba(255, 255, 255, .9);
}

.signupform fieldset+fieldset {
	border-top: 1px solid #E0E0E0;
}

.signupform section {
	margin-bottom: 20px;
}

.signupform footer {
	display: block;
	padding: 10px 4px;
	border-top: 1px solid rgba(0, 0, 0, .1);
	background: rgba(248, 248, 248, .9);
	min-height: 46px;
	border-radius: 0 0 6px 6px;
}

.form-signup {
	height: 42px;
	border-radius: 18px;
	margin: 0 0 10px 0;
}

.section-header {
	color: black;
	font-size: 26px;
	margin-left: 40px;
}

.btn-login {
	height: 42px;
	border-radius: 18px;
	margin: 0 0 10px 0;
	background-color: #334f60;
	border: 2px solid #334f60;
	color: white;
	outline: none;
}

.btn-signup {
	height: 42px;
	border-radius: 18px;
	margin: 0 0 10px 0;
	background-color: #6c757d;
	border: 2px solid #6c757d;
	color: white;
	outline: none;
	color: white;
}

.btn-signup:hover, .btn-signup:active, .btn-signup:focus {
	outline: none;
	border: 2px solid #7d6a73;
	background-color: #7d6a73;
}

.btn-login:hover, .btn-login:active, .btn-login:focus {
	outline: none;
	background-color: #5e88a2;
	border: 2px solid #5e88a2;
}

.lbl-signup {
	margin-left: 0;
	padding: 0;
	margin-bottom: 4px !important;
}

.pad-s {
	padding: 15px 15px !important;
}

.txt-req {
	color: #FF0707;
	font-size: 15px;
}

.login-img {
	margin: 0 auto;
	display: block;
	border-radius: 4px;
}

.indent {
	padding-right: 4px !important;
}

.progressBackgroundFilter {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	padding: 0;
	margin: 0;
	background-color: #000;
	filter: alpha(opacity = 50);
	opacity: 0.5;
	z-index: 1000005 !important;
}

.loader-img {
	width: 100%;
	margin-top: -55px;
}

.processMessage {
	padding: 10px;
	width: 300px;
	z-index: 100006 !important;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	margin: 0 auto;
	margin-top: 140px;
}

.progressBackgroundInitialize {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	padding: 0;
	margin: 0;
	background-color: #2c3e50;
	filter: alpha(opacity = 50);
	z-index: 1000005 !important;
}

.loaderBackground {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	padding: 0;
	margin: 0;
	background-color: #2c3e50;
	filter: alpha(opacity = 50);
	z-index: 1000005 !important;
	opacity: .6;
}

.lbl-bold {
	font-weight: bold !important;
}

.input-error {
	border-color: #b83f3f;
	outline: 0;
	border-width: 1px;
}

.bb-label {
	margin-left: 72px;
	font-family: Calibri;
}

.bb-label h4 {
	font-size: 18px;
	padding: 0;
	margin: 0;
	margin-top: 10.5px;
	color: #f2f2f4;
}

.bb-label p {
	padding: 0;
	margin: 0;
	color: #e7ff9f;
}

.form-default {
	height: 35px;
}

.lbl-default {
	margin: 6px 0;
	text-align: right;
	color: #131d1f;
	margin-left: 0px;
	padding-right: 8px;
	padding-left: 0px;
}

@media ( max-width : 767px) and (min-width: 0px) {
	.shop-logo {
		margin-left: 0px !important;
	}
	.navbar-collapse {
		margin-left: 4px;
	}
	.navbar {
		padding: 0.5rem 1rem;
	}
	.item-box {
		width: 100% !important;
		max-width: 100% !important;;
	}
	.login-img {
		display: none !important;
	}
	.div-center-full {
		top: 2%;
	}
}

@media ( min-width : 1200px) {
	.container, .container-sm, .container-md, .container-lg, .container-xl {
		max-width: 1340px !important;
	}
}