<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Shop</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link href="../static/bootstrap/css/bootstrap.css" rel="stylesheet"
	th:href="@{/bootstrap/css/bootstrap.css}"></link>
<link href="../static/custom/css/style.css" rel="stylesheet"
	th:href="@{/custom/css/style.css}"></link>
<link href="static/fontawesome/css/all.css" rel="stylesheet"
	th:href="@{/fontawesome/css/all.css}"></link>

</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-dark bg-midnight">
		<img src="images/GKG.png" class="shop-logo" alt=""></img>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse " id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item"><a class="nav-link text-white"
					href="/my-baskets">My Baskets</a></li>
				<li class="nav-item"><a class="nav-link text-white"
					href="/shop">Shop</a></li>
				<li class="nav-item"><a class="nav-link text-white" href="#">About</a></li>
			</ul>
			<form class="form-inline my-3 my-lg-0">
				<div class="dropdown">
					<label class="lbl-basket">Welcome, </label> <a id="lnk-user"
						href="#" class="lbl-basket dropdown-toggle lnk-right"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">User
					</a> &nbsp; &nbsp;
					<div class="dropdown-menu" aria-labelledby="lnk-user">
						<a class="dropdown-item" href="/login">Logout</a>
					</div>
				</div>
			</form>
		</div>
	</nav>


	<div class="main-content">
		<div class="container bg-white">
			<div id="page-content">
				<div class="row">
					<div class="col-md-12">
						<h1>
							<span class="fa fa-shopping-basket"></span> Create Basket
						</h1>
					</div>
				</div>
				<div class="row product-container">
					<div class="col-md-6">
						<div class="col-md-12 pad-s">
							<div class="row">
								<div class="form-group form-inline col-md-12">
									<label id="lblERROR" class="lbl-signup  col-md-12"> </label>
								</div>
							</div>
							<div class="row">
								<label class="col-md-12"> Basket Name </label>
								<div class="form-group form-inline col-md-12">
									<input id="txtBASKETNAME" type="text"
										class="form-control col-md-12" />
								</div>
							</div>
							<div class="row">
								<label class="col-md-12"> Description </label>
								<div class="form-group form-inline col-md-12">
									<textarea id="txtBASKETDESCRIPTION"
										class="form-control col-md-12" rows="6">
									</textarea>
								</div>
							</div>
							<div class="row">
								<div class="form-group form-inline col-md-12">
									<input id="btnCREATE" type="button" value="Create"
										class="btn-login" style="width: 100%" />
								</div>
							</div>

						</div>
					</div>

				</div>
			</div>
		</div>
	</div>

	<div class="progressBackgroundFilter" style="display: none">
		<div class="processMessage">
			Loading…<br /> <br /> <img alt="Loading"
				src="images/ajax-loader-blue.gif" />
		</div>
	</div>
	
	<script src="../custom/js/jquery-3.4.1.min.js"
		th:href="@{/custom/js/jquery-3.4.1.min.js}"></script>
	<script src="../bootstrap/js/bootstrap.bundle.js"
		th:href="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>
	<script src="../custom/js/create-basket.js"
		th:href="@{/custom/js/create-basket.js}"></script>
</body>
</html>