<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Shop</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link href="../static/bootstrap/css/bootstrap.css" rel="stylesheet"
	th:href="@{/bootstrap/css/bootstrap.css}"></link>
<link href="../static/custom/css/style.css" rel="stylesheet"
	th:href="@{/custom/css/style.css}"></link>
<link href="static/fontawesome/css/all.css" rel="stylesheet"
	th:href="@{/fontawesome/css/all.css}"></link>

</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-dark bg-midnight">
		<img src="images/GKG.png" class="shop-logo" alt=""></img>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse " id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item"><a class="nav-link text-white" href="/my-baskets">My
						Baskets</a></li>
				<li class="nav-item"><a class="nav-link text-white" href="/shop">Shop</a></li>
				<li class="nav-item"><a class="nav-link text-white" href="#">About</a></li>
			</ul>
			<form class="form-inline my-3 my-lg-0">
				<div class="dropdown">
					<label class="lbl-basket">Welcome, </label> <a id="lnk-user"
						href="#" class="lbl-basket dropdown-toggle lnk-right"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">User
					</a> &nbsp; &nbsp;
					<div class="dropdown-menu" aria-labelledby="lnk-user">
						<a class="dropdown-item" href="/login">Logout</a>
					</div>
				</div>
			</form>
		</div>
	</nav>


	<div class="main-content">
		<div class="container bg-white">
			<div id="page-content">
				<div class="row">
					<div class="col-md-12">
						<h1>
							<span class="fa fa-shopping-basket"></span> My Baskets <a href="/create-basket" class="btn btn-secondary">Add New Basket</a>
						</h1>
					</div>
				</div>
				<div class="row product-container">
					<div class="col-9" id="divBasketsContainer">

					</div>

					<div class="col-3">
						<h1>Summary</h1>
						<h3>Number of Baskets: <label id="lbltotalBaskets"></label></h3>
						<h3>Total Price: <label id="lbltotalPrice"></label></h3>
					</div>


				</div>
			</div>
		</div>
	</div>


	<script src="../custom/js/jquery-3.4.1.min.js"
		th:href="@{/custom/js/jquery-3.4.1.min.js}"></script>
	<script src="../bootstrap/js/bootstrap.bundle.js"
		th:href="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>
	<script src="../custom/js/baskets.js" th:href="@{/custom/js/baskets.js}"></script>
</body>
</html>