<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Shop</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link href="../static/bootstrap/css/bootstrap.css" rel="stylesheet"
	th:href="@{/bootstrap/css/bootstrap.css}"></link>
<link href="../static/custom/css/style.css" rel="stylesheet"
	th:href="@{/custom/css/style.css}"></link>
<link href="static/fontawesome/css/all.css" rel="stylesheet"
	th:href="@{/fontawesome/css/all.css}"></link>

</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-dark bg-midnight">
		<img src="images/GKG.png" class="shop-logo" alt=""></img>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse " id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item"><a class="nav-link text-white" href="/my-baskets">My
						Baskets</a></li>
				<li class="nav-item"><a class="nav-link text-white" href="/shop">Shop</a></li>
				<li class="nav-item"><a class="nav-link text-white" href="#">About</a></li>
			</ul>
			<form class="form-inline my-3 my-lg-0">
				<div class="dropdown">
					<label class="lbl-basket">Welcome, </label> <a id="lnk-user"
						href="#" class="lbl-basket dropdown-toggle lnk-right"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">User
					</a> &nbsp; &nbsp;
					<div class="dropdown-menu" aria-labelledby="lnk-user">
						<a class="dropdown-item" href="/login">Logout</a>
					</div>
				</div>
				<h2 class="text-white">
					<a id="lnkHeaderViewBasket" href="#" class="text-white lnk-view-basket">(0) <i
						class="fa fa-shopping-basket"></i></a>
				</h2>
				&nbsp; &nbsp;
				<div class="dropdown">
					<button class="btn btn-secondary dropdown-toggle" type="button"
						id="dropdownBaskets" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false"></button>
					<div class="dropdown-menu" aria-labelledby="dropdownBaskets" id="dropdownBasketsList">
					</div>
				</div>
			</form>
		</div>
	</nav>


	<div class="main-content">
		<div class="container bg-white">
			<div id="page-content">
				<div class="row">
					<div class="col-md-12">
						<h1>
							<span class="fa fa-list-alt"></span> Shop
						</h1>
						<!-- <input class="form-control mr-sm-2" type="search"
							placeholder="Search" aria-label="Search"></input> -->
					</div>
				</div>
				<div class="row product-container">
					<div class="col-3">
						<div class="nav flex-column nav-pills" id="v-pills-tab"
							aria-orientation="vertical">
							<a class="nav-link active" href="#">All</a>
							<a class="nav-link disabled" href="#">Snacks</a> <a
								class="nav-link disabled" href="#">Pasta and Noodles</a> <a
								class="nav-link disabled" href="#">Canned Goods</a> <a class="nav-link disabled"
								href="#">Dairy and Eggs</a> <a class="nav-link disabled" href="#">Fruits
								and Vegetables</a> <a class="nav-link disabled" href="#">Beverages</a>

						</div>
					</div>
					<div class="col-9">
						<div class="col-3 item-box" th:each="catalog : ${catalogs}">
							<img src="../images/product-default.png" alt="" class="img-item"></img>
							<div class="item-details">
								<label th:text="${catalog.itemName}"></label> | PHP <label class="price" th:text="${catalog.price}"></label><br>
								<a href="#" class="btn btn-secondary btn-add-item" th:attr="data-name=${catalog.itemName}"><span
									class="fa fa-plus"></span></a> <a href="#"
									class="btn btn-secondary btn-remove-item" th:attr="data-name=${catalog.itemName}"><span class="fa fa-minus"></span></a>
							</div>
						</div>


					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="progressBackgroundFilter" style="display: none">
		<div class="processMessage">
			Loading…<br /> <br /> <img alt="Loading"
				src="images/ajax-loader-blue.gif" />
		</div>
	</div>
	<script src="../custom/js/jquery-3.4.1.min.js"
		th:href="@{/custom/js/jquery-3.4.1.min.js}"></script>
	<script src="../bootstrap/js/bootstrap.bundle.js"
		th:href="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>
	<script src="../custom/js/shop.js"
		th:href="@{/custom/js/shop.js}"></script>
</body>
</html>