<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Shop</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link href="../static/bootstrap/css/bootstrap.css" rel="stylesheet"
	th:href="@{/bootstrap/css/bootstrap.css}"></link>
<link href="../static/custom/css/style.css" rel="stylesheet"
	th:href="@{/custom/css/style.css}"></link>
<link href="static/fontawesome/css/all.css" rel="stylesheet"
	th:href="@{/fontawesome/css/all.css}"></link>

</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-dark bg-midnight">
		<img src="../images/GKG.png" class="shop-logo" alt=""></img>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse " id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item"><a class="nav-link text-white"
					href="/my-baskets">My Baskets</a></li>
				<li class="nav-item"><a class="nav-link text-white"
					href="/shop">Shop</a></li>
				<li class="nav-item"><a class="nav-link text-white" href="#">About</a></li>
			</ul>
			<form class="form-inline my-3 my-lg-0">
				<div class="dropdown">
					<label class="lbl-basket">Welcome, </label> <a id="lnk-user"
						href="#" class="lbl-basket dropdown-toggle lnk-right"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">User
					</a><label id="lblid" th:text="${basketId}" style="display:none"></label>
					<label id="lblnum" th:text="${basketNumberofItems}" style="display:none"></label> &nbsp; &nbsp;
					<div class="dropdown-menu" aria-labelledby="lnk-user">
						<a class="dropdown-item" href="/login">Logout</a>
					</div>
				</div>
			</form>
		</div>
	</nav>

	<div class="main-content">
		<div class="container bg-white">
			<div id="page-content">
				<div class="row">
					<div class="col-md-12">
						<h1>
							<span class="fa fa-shopping-basket"></span> View Basket- <label id="lblname"
								th:text="${basketName}"></label><a href="/shop" class="btn btn-secondary" style="margin-left:12px">Go to Shop</a>
						</h1>
					</div>
				</div>
				<div class="row product-container">
					<div class="col-9">
						<div class="col-3 item-box" th:each="basketItem : ${basketItems}">
							<img src="../images/product-default.png" alt="" class="img-item"></img>
							<div class="item-details">
								<label th:text="${basketItem.itemName}"></label> | PHP <label
									class="price" th:text="${basketItem.price}"></label> <br>
								<a href="#" class="btn btn-secondary btn-add-item" th:attr="data-name=${basketItem.itemName}"><span
									class="fa fa-plus"></span></a> <a href="#"
									class="btn btn-secondary btn-remove-item" th:attr="data-name=${basketItem.itemName}"><span
									class="fa fa-minus"></span></a>
								<p>
									<label th:text="${basketItem.quantity}"></label> in basket
								</p>
							</div>
						</div>
					</div>

					<div class="col-3">
						<h1>Summary</h1>
						<h3>
							Number of Items: <label th:text="${basketNumberofItems}"></label>
						</h3>
						<h3>
							Total Price: <label th:text="${basketTotalPrice}"></label>
						</h3>
					</div>

				</div>
			</div>
		</div>
	</div>

	<div class="progressBackgroundFilter" style="display: none">
		<div class="processMessage">
			Loading…<br /> <br /> <img alt="Loading"
				src="../images/ajax-loader-blue.gif" />
		</div>
	</div>

	<script src="../custom/js/jquery-3.4.1.min.js"
		th:href="@{/custom/js/jquery-3.4.1.min.js}"></script>
	<script src="../bootstrap/js/bootstrap.bundle.js"
		th:href="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>
	<script src="../custom/js/view-basket.js" th:href="@{/custom/js/view-basket.js}"></script>
</body>
</html>